*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.b{
    margin: 0px 50px;

}
.header{
    width: auto;
    height: 100px;
    background-color: rgb(89, 177, 236);
}
.logo{
    float: left;
}
.header h1{
   text-align: center;
    font-size: 50px;
    color: rgba(226, 41, 155, 0.945);
    padding-top: 20px;
    text-transform: inherit;
}
.menubar{
    width: auto;
    height: 85px;
    background-color: lightseagreen;
}
.menubar ul li{
    list-style: none;
   display: inline-block;
   text-align: right;
}
.menubar ul li a{
    display: block;
 font-size: 20px;
 padding: 30px 40px;
 
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
 
}
.menubar ul li a:hover{
    color: rgb(222, 245, 122);
    background-color: maroon;
}
.ima{
    margin: 0px;
    padding: 0px;
}
.contact{
    width: auto;
    height: 50px;
    padding: 10px 0px;

    background-color: rgba(24, 202, 233, 0.747);
}
.contact h2{
     font-size: 30px;
     color: magenta;
     text-align: center;
     padding-top: 0px;

}
  .footer{
      width: auto;
      height: 300px;
      background-color: rgba(12, 133, 151, 0.842););
  }  
  .naim{
      width: 60%;
      height: 80%;
      float: left;
      background-color: rgb(32, 142, 206);
      position: relative;
     
  }


  .f{
      text-align: right;
      padding: 0px 10px;
      
  }
  .sub{
      width: 120px;
      height: 50px;
     text-align: center;

 
   border-radius: 5px;
   background-color: coral;
   font-size: 25px;
   color: cornsilk;
   margin-top: 10px;
  
    margin-left: 3%;
  }
  .tp{
    height: 100%;
    width: 100%;
    
    border-radius: 5px;
  }
  .center{
    width: 304px;
    height:300px;
    float: left;
 
    border-radius: 15px;
    margin: 10px 4px;
   padding: 10px;
}
.about{
    width: 100%;
    height: 300px;
    background-color: rgb(89, 177, 236);
    position: relative;
}
.about::after{
    width: 50%;
    height: 100%;
    position: absolute;
   
    content: "Our team of professionals has years’ long experience and expertise to bring life to your brand and product line . Our services are highly customized around users’ preferences and experiences.Our services portfolio expand from clouding your data to representing it in the best words, with the right imagery, to the perfect mix of audience. We aim to reshape businesses into brands.The mission of TechAbout is to embed innovative techniques that are designed by tech-experts. The presence of our company has been for more than an year with a proven track record in the industry and our services provided to a large number of clients sets us apart.The mission of TechAbout is to embed innovative techniques that are designed by tech-experts. The presence of our company has been for more than an year with a proven track record in the industry and our services provided to a large number of clients sets us apart.The mission of TechAbout is to embed innovative techniques that are designed by tech-experts. The presence of our company has been for more than an year with a proven track record in the industry and our services provided to a large number of clients sets us apart.";
    left: 0px;
    top: 0px;
    background-color: rgb(134, 9, 57);
    font-size: 20px;
    color: cadetblue;
    overflow: scroll;
}
.map{
    float: right;
    width: 50%;
    background-color: rgba(226, 41, 155, 0.945);
}